body {
    line-height: 1;
}
img {
    max-width: 100%;
}
/*Header 메인*/
.web-main-tab-top {
    top: 0;
    margin: 0 auto;
    z-index: 4;
    width: 100%;
    height: 70px;
    background-color: #41b6e6;
    display: flex;
}
/*왼쪽 메뉴 이미지*/
.web-main-tab-top .web-icon-menu {
    margin-top: 1.3rem;
    margin-left: 1.5rem;
    vertical-align: center;
    width: 25px;
    height: 21px;
}
/*왼쪽 알볼로 로고*/
.web-main-tab-top .web-icon-logo {
    margin-left: 1rem;
}
/*중간 텍스트*/
.web-main-tab-top .tab-top-middle {
    margin: 1.3rem 1.3rem 1.3rem 14rem;
    font-size: 20px;
    font-family: Noto Sans CJK KR Regular;
    color: #fff;
    letter-spacing: -.3px;
}
.web-main-tab-top .tab-top-middle span {
    margin: 0 1.5rem 0 1.5rem;
}
/*오른쪽 텍스트*/
.web-main-tab-top .tab-top-right .tab-text-img-layout .top-right-text-layout {
    text-align: left;
    margin-top: 1.3rem;
    font-size: 17px;
    width: 100%;
    color: #001951;
    font-family: Noto Sans CJK KR Regular;
    margin-left: 9rem;
}
.web-main-tab-top .tab-top-right .tab-text-img-layout .top-right-text-layout span{
    margin: 0 0.6rem 0 0.6rem;
}
/*오른쪽 피자 아이콘*/
.web-main-tab-top .tab-top-right .web-icon-pizza {
    margin-left: 26rem;
    margin-top: -1.85rem;
}
